<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Animaciones</title>
    <link rel="stylesheet" href="../statics/styles/main.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1454/1454776.png">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/61/cf/73/61cf73b8fdca2868923a363a9303ecce.jpg" type="image/x-icon">
</head>
<body>
    <header>
        <div id="nav">
            <span id="logo"><img src="https://i.pinimg.com/originals/61/cf/73/61cf73b8fdca2868923a363a9303ecce.jpg" 
                alt="mapachelogo" height="100px"></span>
            <nav id="titulo"><h1>Tienda de Animaciones</h1></nav>  
        </div>
    </header> 

    <div class="contenedor">
<!--    1   ------------------------------------------------------------------------------------------------------->
        <div class="item" id="d1">
            <div class="contenedor-btn">
                <span class="b1">
                    <button>
                        <a href="https://www.youtube.com/watch?v=irQNALota_g&list=RDirQNALota_g&start_radio=1" 
                        target="_blank">Comprar!!!</a>
                    </button>
                </span> 
                <span class="b1">$19.99 Mapacoins</span>
            </div>
            <span id="anim1">
                <img src="https://images.emojiterra.com/openmoji/v14.0/512px/1f99d.png" alt="mapalord" 
                height="150px">
            </span>
            <span id="basurero">
                <img src="https://static.vecteezy.com/system/resources/previews/009/394/097/non_2x/full-rubbish-bin-garbage-can-png.png" 
                alt="basurero" height="270">
            </span>
        </div>
<!--    2   ------------------------------------------------------------------------------------------------------->
        <div class="item" id="d2">
            <div class="contenedor-btn">
                <span class="b1">
                    <button>
                        <a href="https://www.youtube.com/watch?v=fjLIkF01a7Y" 
                        target="_blank">Comprar!!!</a>
                    </button>
                </span> 
                <span class="b1">$9.99 Mapacoins</span>
            </div>
            <div class="anim2">
                <span id="gloton">
                    <img src="../statics/assets/media/mapacheDescubierto.jpg" alt="glotón" height="150px">
                </span>
                <span id="sil3">
                    <img src="../statics/assets/media/descarga.png" alt="silueta3" height="150px">
                </span>
                <span id="sil2">
                    <img src="../statics/assets/media/silueta2.png" alt="silueta2" height="150px">
                </span>
                <span id="sil1">
                    <img src="../statics/assets/media/silueta1.png" alt="silueta1" height="150px">
                </span>
            </div>
        </div>
<!--    3   ------------------------------------------------------------------------------------------------------->
        <div class="item" id="d3">
            <div class="contenedor-btn">
                <span class="b1">
                    <button>
                        <a href="https://www.youtube.com/shorts/ylYiEyhaF54" 
                        target="_blank">Comprar!!!</a>
                    </button>
                </span> 
                <span class="b1">$15.99 Mapacoins</span>
            </div>           
            <div class="anim3">
                <span id="wildRakoon">
                    <img src="../statics/assets/media/wildRaccoon.jpg" alt="wildRakoon" height="150px">
                </span>
                <span id="interrogacion">
                    <img src="../statics/assets/media/interrogacion.png" alt="???" height="50px">
                </span>
                <span id="LOL">
                    <img src="../statics/assets/media/LOL.png" alt="LOL" height="150px">
                </span>
                <span id="gordoLOL">
                    <img src="../statics/assets/media/gordoLOL.png" alt="silueta1" height="150px">
                </span>
            </div>
        </div>
<!--    4   ------------------------------------------------------------------------------------------------------->
        <div class="item" id="d4">
            <div class="contenedor-btn">
                <span class="b1">
                    <button>
                        <a href="https://www.youtube.com/watch?v=IJJMrnNg6VQ" 
                        target="_blank">Comprar!!!</a>
                    </button>
                </span> 
                <span class="b1">$7.99 Mapacoins</span>
            </div>
            <div class="anim4">
                <span id="mapanillo">
                    <img src="../statics/assets/media/EX_DPqTXYAE_aJi.jpg" alt="Mapanillo" height="150px">
                </span>
                <span id="cheems">
                    <img src="../statics/assets/media/cheemsjpg.jpg" alt="Cheems" height="150px">
                </span>
            </div>
        </div>
<!--    5   ------------------------------------------------------------------------------------------------------->
        <div class="item" id="d5">
            <div class="contenedor-btn">
                <span class="b1">
                    <button>
                        <a href="https://www.youtube.com/shorts/eMQU_SGwIdU" 
                        target="_blank">Comprar!!!</a>
                    </button>
                </span> 
                <span class="b1">$10.99 Mapacoins</span>
            </div>        
            <span id="icono1">
                <img src="../statics/assets/media/icono1.png" alt="icon1" height="150px">
            </span>
            <span id="icono2">
                <img src="../statics/assets/media/icono2.png" alt="icon2" height="150px">
            </span>
            <span id="icono3">
                <img src="../statics/assets/media/icono3.png" alt="icon3" height="150px">
            </span>
            <span id="icono4">
                <img src="../statics/assets/media/icono4.png" alt="icon4" height="150px">
            </span>
        </div>
<!--    6   ------------------------------------------------------------------------------------------------------->
        <div class="item" id="d6">
            <div class="contenedor-btn">
                <span class="b1">
                    <button>
                        <a href="https://www.youtube.com/shorts/WAge2mgdIOM" 
                        target="_blank">Comprar!!!</a>
                    </button>
                </span> 
                <span class="b1">$17.99 Mapacoins</span>
            </div>
            <span id="SiluetaParada">
                <img src="../statics/assets/media/SiluetaParada.jpg" alt="SiluetaParada" height="150px">
            </span>
            <span id="happy">
                <img src="../statics/assets/media/mapacheHappy.jpg" alt="mapacheHappy" height="150px">
            </span>
            <span id="mapaFlor">
                <img src="../statics/assets/media/mapaFlor.jpg" alt="mapaFlor" height="150px">
            </span>
        </div>
        <!--------------------------------------------------------------------------------------------------------->
    </div>
</body>
</html>